@{
    ViewBag.Title = "SHANU Hotel Booking";
}

@section style {
<style>
    .actualColor {
        background-color: #64a449;
        color: #FFFFFF;
        border: solid 1px #659EC7;
        font-size: x-large;
    }

    .changeColor1 {
        background-color: #e81a1a;
        color: #FFFFFF;
        border: solid 1px #659EC7;
        font-size: x-large;
        cursor: pointer;
    }

    .changeColor2 {
        background-color: #fbe700;
        color: #be1010;
        border: dashed 1px #659EC7;
        font-size: x-large;
        cursor: pointer;
    }

    .border-bottom-3 {
        border-bottom-style:solid;
        border-bottom-width: 3px !important;
    }
</style>
}

<div data-ng-app="AngularJs_Module" data-ng-controller="AngularJs_Controller">

    <div class="container-fluid pt-3 border-primary border-bottom-3">
        <div class="row">
            <div class="col col-2 p-0 text-left">
                Welcome Mr. {{'SHANU'}}
            </div>
            <div class="col col-8 p-0 text-center">
                <h3>Shanu Hotel Booking System using MVC & AngularJS  :)</h3>
            </div>
            <div class="col col-2 p-0 text-right">
                Today Date is :{{date | date:'yyyy-MM-dd'}}
            </div>
        </div>
    </div>

    <div class="container-fluid mt-1 pt-1 pb-1 bg-primary text-center">
        <h1 class="text-light">Room Status</h1>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col col-3 p-1" ng-repeat="details in RoomAvailableData">
                <div ng-class="{actualColor: details.BookingStatus == 'Free', changeColor1: details.BookingStatus == 'Occupied', changeColor2: details.BookingStatus == 'Reserved'}">
                    &nbsp;
                    <br />
                    <b>Room NO : {{details.RoomNo}}</b>
                    <br />
                    <b>Status : {{details.BookingStatus}}</b>
                    <br />
                    Payment Status :
                    <b> {{details.PaymentStatus}}</b>
                    <br />
                    Advance Paid :
                    <b> {{details.AdvancePayed}}</b>
                    <br />
                    Total Amount Paid :
                    <b>{{details.TotalAmountPayed}}</b>
                    <br />
                    Booked From  : {{details.BookedDateFR}} ~ {{details.BookedDateTO}}
                    <br />
                    &nbsp;
                    <br />
                </div>
            </div>
            <div class="col col-3 p-1" ng-repeat="details in RoomAvailableData">
                <div ng-class="{actualColor: details.BookingStatus == 'Free', changeColor1: details.BookingStatus == 'Occupied', changeColor2: details.BookingStatus == 'Reserved'}">
                    &nbsp;
                    <br />
                    <b>Room NO : {{details.RoomNo}}</b>
                    <br />
                    <b>Status : {{details.BookingStatus}}</b>
                    <br />
                    Payment Status :
                    <b> {{details.PaymentStatus}}</b>
                    <br />
                    Advance Paid :
                    <b> {{details.AdvancePayed}}</b>
                    <br />
                    Total Amount Paid :
                    <b>{{details.TotalAmountPayed}}</b>
                    <br />
                    Booked From  : {{details.BookedDateFR}} ~ {{details.BookedDateTO}}
                    <br />
                    &nbsp;
                    <br />
                </div>
            </div>
            <div class="col col-3 p-1" ng-repeat="details in RoomAvailableData">
                <div ng-class="{actualColor: details.BookingStatus == 'Free', changeColor1: details.BookingStatus == 'Occupied', changeColor2: details.BookingStatus == 'Reserved'}">
                    &nbsp;
                    <br />
                    <b>Room NO : {{details.RoomNo}}</b>
                    <br />
                    <b>Status : {{details.BookingStatus}}</b>
                    <br />
                    Payment Status :
                    <b> {{details.PaymentStatus}}</b>
                    <br />
                    Advance Paid :
                    <b> {{details.AdvancePayed}}</b>
                    <br />
                    Total Amount Paid :
                    <b>{{details.TotalAmountPayed}}</b>
                    <br />
                    Booked From  : {{details.BookedDateFR}} ~ {{details.BookedDateTO}}
                    <br />
                    &nbsp;
                    <br />
                </div>
            </div>


        </div>
    </div>
</div>

@section scripts {
<script src="~/Scripts/MyAngular/Hotel/Controller.js"></script>
}